@import "tailwindcss";
/* @plugin "daisyui"; */


.blob-btn { 
  position: relative;
  padding: 10px 20px;
  color: #ef4444;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
}

.blob-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #ef4444;
  border-radius: 999px;
  z-index: 1;
}

.blob-btn:hover {
  color: white;
}

.blob-btn__inner {
  position: absolute;
  inset: 0;
  background: white;
  border-radius: 999px;
  overflow: hidden;
  z-index: -1;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #ef4444;
  border-radius: 100%;
  transform: translateY(150%) scale(1.4);
  transition: transform 0.45s;
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateY(0) scale(1.4);
}


